/*navigation background*/
.topnav {
  background-color: #ffffff;
  overflow: hidden;
}

/*navigation links*/
.topnav a {
  float: left;
  color: #4eaee1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #86c340;
  color: black;
}

/*crisis support hotline*/
.csh {
  border: 5px outset red;
  text-align: center;
  font-size: 15px;
}

.csh p {
  margin-top: 2px;
  margin-bottom: 2px;
}

/*footer stuff*/
footer {
  text-align: center;
}

footer h6 {
  color: #4eaee1;
  font-size: 17px;
}

/*Home page image and text*/
.homeimage img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  width: 50%;
  text-align: left;
}

table img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  text-align: center;
}

.column ul {
  list-style-type: none;
}

/*contact main style template*/
#contact {
  background-color: #EEEEEE;
  color: #006600;
  min-width: 960px;
  font-family: Verdana, Arial, sans-serif;
  border: 2px solid #86c340;
  padding: 1px 10px 20px 10px;
}

/*#contact h2 {
  margin-top: 0;
  font-size: 2em;
  text-align: left;
  text-shadow: 2px 2px 2px #000000;
  background-color: #111111;
  padding: 5px 10px 10px 10px;
}*/
#contact h2 {
  text-align: center;
}

/*support page*/
.services h1 {
  text-align: center;
}

#title1 h2 {
  text-align: center;
}

.title2 h2 {
  text-align: center;
}


.services p {
  text-align: center;
}
.services a:link, a:visited {
  background-color: #4eaee1;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.services a:hover, a:active {
  background-color: #86c340;
}
